body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:470px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:470px;
}
#u123 {
  position:absolute;
  left:2px;
  top:227px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:470px;
}
#u124 {
  position:absolute;
  left:0px;
  top:520px;
  width:1000px;
  height:470px;
}
#u125 {
  position:absolute;
  left:2px;
  top:227px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:470px;
}
#u126 {
  position:absolute;
  left:0px;
  top:1041px;
  width:1000px;
  height:470px;
}
#u127 {
  position:absolute;
  left:2px;
  top:227px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:470px;
}
#u128 {
  position:absolute;
  left:0px;
  top:1561px;
  width:1000px;
  height:470px;
}
#u129 {
  position:absolute;
  left:2px;
  top:227px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:470px;
}
#u130 {
  position:absolute;
  left:0px;
  top:2081px;
  width:1000px;
  height:470px;
}
#u131 {
  position:absolute;
  left:2px;
  top:227px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:470px;
}
#u132 {
  position:absolute;
  left:0px;
  top:2601px;
  width:1000px;
  height:470px;
}
#u133 {
  position:absolute;
  left:2px;
  top:227px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:470px;
}
#u134 {
  position:absolute;
  left:0px;
  top:3122px;
  width:1000px;
  height:470px;
}
#u135 {
  position:absolute;
  left:2px;
  top:227px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:470px;
}
#u136 {
  position:absolute;
  left:0px;
  top:3642px;
  width:1000px;
  height:470px;
}
#u137 {
  position:absolute;
  left:2px;
  top:227px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
