body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1415px;
}
#u21739 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1415px;
}
#u21740 {
  position:absolute;
  left:2px;
  top:700px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
